/* fallback */
@font-face {
  font-family: "Material Symbols Outlined";
  font-style: normal;
  font-weight: 600;
  font-display: optional;
  src: url(./iconGoogle.woff2) format("woff2");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--secondary) var(--primary);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: black;
  @apply bg-white dark:bg-black;
}

*::-webkit-scrollbar-thumb {
  border-radius: 10px;
  border: 3px solid var(--primary);
  @apply bg-black dark:bg-white;
}
